body {
  max-width: 100vw;
  line-height: 1.4;
  color: #0a5396;
  font-size: 20px;
  font-family: "Peace";
  text-rendering: geometricPrecision;
}

main {
  margin-bottom: 100vh;
}

h3 {
  font-size: 26px;
  padding: 20px;
}

h6 {
  margin-bottom: 10px;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold, .quotes-carousel .quo-source {
  font-family: "Peace Bold";
  font-weight: 700;
}

.button {
  color: #FFFFFF;
  padding: 7px;
  cursor: pointer;
}

.countdown {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum" on;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 100vh;
  z-index: 4;
}
.intro-video iframe {
  height: 100vh;
}

.introduction {
  padding: 120px 120px 60px 120px;
  font-size: 26px;
}
.introduction p {
  padding-bottom: 20px;
}
.introduction .small-text {
  font-size: 20px;
}

.the-other {
  text-align: center;
  padding-bottom: 60px;
}
.the-other h3 {
  background-color: #F99437;
  color: #FFFFFF;
}
.the-other p {
  color: #FF8C00;
  padding: 60px;
}
.the-other .learn-more {
  padding: 0;
}
.the-other .button {
  background-color: #F99437;
}

.ars-electronica {
  text-align: center;
  padding-bottom: 60px;
}
.ars-electronica h3 {
  background-color: #222222;
  color: #FFFFFF;
}
.ars-electronica p {
  color: #222222;
  padding: 60px;
}
.ars-electronica .learn-more {
  padding: 0;
}
.ars-electronica .button {
  background-color: #222222;
}

.carousel-cell {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.carousel-cell img {
  display: block;
  max-height: 100vh;
}

nav.concept {
  border-top: 4px solid #0a5396;
  border-bottom: 4px solid #0a5396;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

nav.concept-mobile {
  display: none;
}

.flickity-slider {
  display: flex;
  align-items: center;
}

.text-carousel .carousel-cell {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align: center;
}
.text-carousel .carousel-cell h4 {
  font-size: 26px;
  padding-bottom: 20px;
}
.text-carousel .carousel-cell p {
  padding-bottom: 20px;
}
.text-carousel .carousel-cell .mirror, .text-carousel .carousel-cell .not-mirror {
  display: flex;
  flex-direction: column;
  padding: 60px;
}
.text-carousel .carousel-cell .mirror {
  font-family: "Peace Dotty";
  background-color: #0a5396;
  color: #FFFFFF;
  transform: scale(-1, 1);
}

.photos {
  background-color: #0a5396;
}
.photos .flickity-button {
  color: #FFFFFF !important;
}
.photos .left {
  align-self: flex-start;
}
.photos .right {
  align-self: flex-end;
}

.quotes h3 {
  text-align: center;
}

.quotes-carousel {
  text-align: center;
}
.quotes-carousel p {
  max-width: 80vw;
  padding-top: 30px;
}
.quotes-carousel p:last-child {
  padding-bottom: 60px;
}
.quotes-carousel .quo-source {
  margin-top: 30px;
  font-size: 26px;
}
.quotes-carousel .carousel-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quotes-carousel .carousel-cell .quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.talks {
  background-color: #0a5396;
  color: #FFFFFF;
  padding-bottom: 60px;
}
.talks .videos-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
.talks .videos-container .video-container {
  width: 50%;
}
.talks .videos-container .video-container.left {
  padding: 30px 30px 0 60px;
}
.talks .videos-container .video-container.right {
  padding: 30px 60px 0 30px;
}
.talks .videos-container .video-container iframe {
  height: 100%;
}
.talks .videos-container p {
  padding: 20px 0 0 0;
}
.talks h3 {
  background-color: #0a5396;
  color: #FFFFFF;
  text-align: center;
}

.team h3 {
  text-align: center;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}
.team-container div {
  width: 45%;
  padding-bottom: 30px;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.logos .main-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logos .logo-container {
  max-width: 110px;
}
.logos .logo-container img {
  width: 100%;
}
.logos .logo-container.logo-small {
  max-width: 75px;
}
.logos .logo-container.logo-big {
  max-width: 180px;
}

footer {
  background-color: #F4F4F4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  color: #0a5396;
}
footer .footer-links {
  display: flex;
  flex-direction: row;
}
footer .footer-links > * {
  padding-left: 30px;
}
footer > * {
  padding: 10px 20px 10px 0;
}
footer .d-none {
  display: none;
}
footer #newsletter-action {
  padding: 0;
}
footer form #mc_embed_signup_scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer form #mce-EMAIL {
  max-width: 180px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #0a5396;
  color: #0a5396;
}
footer form input.button {
  padding: 3px;
  margin-left: 7px;
  background-color: #0a5396;
  border: none;
}

#the-other-cta {
  position: fixed;
  z-index: 3;
  text-align: center;
  color: #FF8C00;
  bottom: 10px;
  left: 10px;
  transition: all 1s ease;
}
#the-other-cta .close {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 28px;
  z-index: 10;
}
#the-other-cta .cta-more-info {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#the-other-cta .cta-more-info .button {
  background-color: #F99437;
  margin-top: 10px;
  display: inline-block;
  padding: 5px 7px;
}
#the-other-cta #drag {
  padding: 10px;
  position: relative;
}
#the-other-cta #drag svg {
  stroke-width: 20px;
  stroke: #F99437;
  width: 250px;
  fill: #FFFFFF;
}

#the-other-cta.mini {
  transform: scale(0.2);
}
#the-other-cta.mini .close {
  cursor: pointer;
  transform: scale(6);
  top: 41%;
  right: 129px;
}
#the-other-cta.mini .cta-more-info {
  display: none;
}
#the-other-cta.mini #drag svg {
  stroke-width: 40px;
}

#ars {
  color: #222222;
}
#ars iframe {
  margin-top: 20px;
}
#ars .intro {
  padding: 0;
  margin-bottom: 60px;
}
#ars .intro h3 {
  background-color: #222222;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}
#ars .intro p {
  padding: 30px 60px 0 60px;
}
#ars section {
  padding: 20px 60px;
}
#ars .day:nth-child(odd) {
  background-color: #222222;
  color: #FFFFFF;
}
#ars .day .video {
  margin-bottom: 60px;
}
#ars .day-intro {
  padding-top: 60px;
  padding-bottom: 60px;
}
#ars .description {
  padding: 0;
}
#ars .description p {
  margin: 30px 60px 60px 60px;
}
#ars .description .ars-photos {
  background-color: #222222;
}
#ars .description .ars-photos .flickity-button {
  color: #FFFFFF !important;
}
#ars .description .ars-photos .left {
  align-self: flex-start;
}
#ars .description .ars-photos .right {
  align-self: flex-end;
}
#ars .description .ars-photos .image-container img {
  display: block;
  max-height: 100vh;
}

#the-other-page {
  color: #FF8C00;
}
#the-other-page .intro {
  padding: 0;
}
#the-other-page .intro h3 {
  background-color: #F99437;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 60px;
}
#the-other-page .intro-top {
  padding: 0 60px;
  font-size: 26px;
}
#the-other-page .intro-top p {
  padding-top: 30px;
}
#the-other-page .intro-bottom {
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
#the-other-page .intro-bottom :first-child {
  width: 100%;
  padding-top: 30px;
}
#the-other-page .intro-bottom :not(:first-child) {
  width: 45%;
  padding: 10px 0;
}
#the-other-page section {
  padding: 20px 60px;
}
#the-other-page .description p {
  padding-top: 30px;
}
#the-other-page .day:nth-child(even) {
  background-color: #F99437;
  color: #FFFFFF;
}
#the-other-page .the-other-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#the-other-page .the-other-team div {
  width: 45%;
}

@media (max-width: 800px) {
  nav.concept-desktop {
    display: none;
  }

  nav.concept-mobile {
    display: flex;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 16px;
  }

  .logos {
    padding: 0 30px;
  }

  h3,
.introduction,
.text-carousel .carousel-cell h4,
#the-other-page .intro-top {
    font-size: 20px;
  }

  .quotes-carousel .quo-source {
    font-size: 20px;
  }

  .introduction .small-text {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text-carousel .carousel-cell .mirror {
    display: none;
  }

  .introduction {
    padding: 0 30px 30px 30px;
  }

  .the-other p,
nav.concept,
.ars-electronica p {
    padding: 20px 30px;
  }

  .text-carousel .carousel-cell .not-mirror,
.team-container {
    padding: 30px;
  }

  .talks {
    padding-bottom: 30px;
  }

  .talks .videos-container {
    flex-direction: column;
  }
  .talks .videos-container .video-container {
    width: 100%;
  }
  .talks .videos-container .video-container.right, .talks .videos-container .video-container.left {
    padding: 0;
  }
  .talks .videos-container p {
    padding: 20px 30px 0 30px;
  }

  .team-container {
    flex-direction: column;
  }
  .team-container div {
    width: 100%;
  }

  .logos .logo-container {
    max-width: 80px;
  }
  .logos .logo-container.logo-small {
    max-width: 55px;
  }
  .logos .logo-container.logo-big {
    max-width: 100px;
  }

  #the-other-cta {
    display: none;
  }

  #the-other-page .intro-top {
    padding: 0 30px;
  }
  #the-other-page .intro-bottom {
    padding: 0 30px;
  }
  #the-other-page .intro-bottom :not(:first-child) {
    width: 100%;
  }
  #the-other-page section {
    padding: 20px 30px;
  }
  #the-other-page .the-other-team {
    flex-direction: column;
  }
  #the-other-page .the-other-team div {
    width: 100%;
  }
  #the-other-page .the-other-team div:first-child {
    padding-bottom: 20px;
  }

  #ars .intro p {
    padding: 20px 30px;
  }
  #ars section {
    padding: 20px 30px;
  }

  footer {
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  footer > * {
    padding: 10px 20px 0 0;
  }
  footer form #mc_embed_signup_scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer form #mce-EMAIL {
    max-width: 180px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #0a5396;
    color: #0a5396;
  }
  footer form input.button {
    padding: 3px;
    margin-left: 7px;
    background-color: #0a5396;
    border: none;
  }
}
@media (max-width: 400px) {
  .logos .logo-container {
    max-width: 70px;
  }
  .logos .logo-container.logo-small {
    max-width: 50px;
  }
  .logos .logo-container.logo-big {
    max-width: 80px;
  }
}