$blue: #0a5396;
$bg-orange:#F99437;
$txt-orange:#FF8C00;
$black: #222222;
$white: #FFFFFF;
$grey: #F4F4F4;

$sm-text: 20px;
$md-text: 26px;
$headline: 42px;

$mobile-md-text: 20px;
$mobile-sm-text: 16px;
$unit: 60px;
$half-unit: 30px;
$sm-pad: 20px;

body {
   max-width: 100vw;
   line-height: 1.4;
   color: $blue;
   font-size: $sm-text;
   font-family: 'Peace';
   text-rendering: geometricPrecision;
}

main {
   margin-bottom: 100vh;
}

h3 {
   font-size: $md-text;
   padding: $sm-pad;
}

h6 {
   margin-bottom: 10px;
   text-decoration: underline;
}

a {
   text-decoration: none;
   color: inherit;
}

.bold {
   font-family: 'Peace Bold';
   font-weight: 700;
}

.button {
   color: $white;
   padding: 7px;
   cursor: pointer;
}

.countdown {
   font-variant-numeric: tabular-nums;
   -moz-font-feature-settings: 'tnum'; 
   -webkit-font-feature-settings: 'tnum';
   font-feature-settings: 'tnum' on;
}

.video {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   height: 0;

   iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}

.intro-video {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   margin-bottom: 100vh;
   z-index: 4;

   iframe {
      height: 100vh;
   }
}

.introduction {
   padding: ($unit * 2) ($unit * 2) $unit ($unit * 2);
   font-size: $md-text;

   p {
      padding-bottom: $sm-pad;
   }

   .small-text {
      font-size: $sm-text;
   }
}

.the-other {
   text-align: center;
   padding-bottom: $unit;

   h3 {
      background-color: $bg-orange;
      color: $white;
   }

   p {
      color: $txt-orange;
      padding: $unit;
   }

   .learn-more {
      padding: 0;
   }

   .button {
      background-color: $bg-orange;
   }
}

.ars-electronica {
   text-align: center;
   padding-bottom: $unit;

   h3 {
      background-color: $black;
      color: $white;
   }

   p {
      color: $black;
      padding: $unit;
   }

   .learn-more {
      padding: 0;
   }

   .button {
      background-color: $black;
   }
}

.carousel-cell {
   // width: 100%;
   // height: 100%;
   // padding: 40px;
   // overflow-y: auto;
    // Flexbox Settings
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;

   img {
      display: block;
      max-height: 100vh;
   }
}

nav.concept {
   border-top: 4px solid $blue;
   border-bottom: 4px solid $blue;
   display: flex;
   justify-content: space-between;
   padding: 10px $unit;

   // a {
   //    padding: 0 $sm-pad;
   // }
}

nav.concept-mobile {
   display: none;
}

.flickity-slider {
   display: flex;
   align-items: center;
}

.text-carousel .carousel-cell {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100vw;
   text-align: center;

   h4 {
      font-size: $md-text;
      padding-bottom: $sm-pad;
   }

   p {
      padding-bottom: $sm-pad;
   }

   .mirror, .not-mirror {
      display: flex;
      flex-direction: column;
      padding: $unit;
   }

   .mirror {
      font-family: 'Peace Dotty';
      background-color: $blue;
      color: $white;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
   }
}

.photos {
   background-color: $blue;

   .flickity-button {
      color: $white !important;
   }

   .left {
      align-self: flex-start;
   }

   .right {
      align-self: flex-end;
   }
}

.quotes h3 {
   background-color: $blue;
   text-align: center;
   color: $white;
}

.quotes-carousel {
   text-align: center;

   p {
      max-width: 80vw;
      padding-top: $half-unit;

      &:last-child {
         padding-bottom: $unit;
      }
   }

   .quo-source {
      margin-top: $half-unit;
      @extend .bold;
      font-size: $md-text;
   }

   .carousel-cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .quote-container {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
      }
   }
   
}

.talks {
   background-color: $blue;
   color: $white;
   padding-bottom: $unit;

   .videos-container {
      display: flex;
      flex-direction: row;
      padding-top: $half-unit;

      .video-container {
         width: 50%;

         &.left { padding: $half-unit $half-unit 0 $unit; }

         &.right { padding: $half-unit $unit 0 $half-unit; }

         iframe {
            height: 100%;
         }
      }

      p {
         padding: $sm-pad 0 0 0;
      }
   }

   h3 {
      background-color: $blue;
      color: $white;
      text-align: center;
   }
}

.team h3 {
   text-align: center;
}

.team-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   padding: $unit;

   div {
      width: 45%;
      padding-bottom: $half-unit;
   }
}


.logos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 0 $unit;
   margin-top: $half-unit;
   margin-bottom: $unit;

   .main-logos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }

   .logo-container {
      max-width: 110px;

      img {
         width: 100%;
      }
   }

   .logo-container.logo-small {
      max-width: 75px;
   }

   .logo-container.logo-big {
      max-width: 180px;
   }

}

footer {
   background-color: $grey;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   z-index: 2;
   color: $blue;

   .footer-links {
      display: flex;
      flex-direction: row;

      > * {
         padding-left: 30px;
      }
   }

   > * {
      padding: 10px $sm-pad 10px 0;
   }

   .d-none {
      display: none;
   }

   #newsletter-action {
      padding: 0;
   }

   form {
      #mc_embed_signup_scroll {
         display: flex;
         flex-direction: row;
         align-items: center;
      }

      #mce-EMAIL {
         max-width: 180px;
         border: none;
         background-color: transparent;
         border-bottom: 2px solid $blue;
         color: $blue;
      }

      input.button {
         padding: 3px;
         margin-left: 7px;
         background-color: $blue;
         border: none;
      }
   }
}

#the-other-cta {
   position: fixed;
   z-index: 3;
   text-align: center;
   color: $txt-orange;
   bottom: 10px;
   left: 10px;
   transition: all 1s ease;

   .close {
      cursor: pointer;
      position: absolute;
      top: 10%;
      right: 28px;
      z-index: 10;
   }

   .cta-more-info {
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: fit-content;

      .button {
         background-color: $bg-orange;
         margin-top: 10px;
         display: inline-block;
         padding: 5px 7px;
      }

   }

   #drag {
      padding: 10px;
      position: relative;
   
      svg {
         stroke-width: 20px;
         stroke: $bg-orange;
         width: 250px;
         fill: $white;
      }
   }
}

#the-other-cta.mini {
   transform: scale(0.2);

   .close {
      cursor: pointer;
      transform: scale(6);
      top: 41%;
      right: 129px;
   }

   .cta-more-info {
      display: none;
   }

   #drag {
      svg {
         stroke-width: 40px;
      }
   }
}
 
/// Ars Electronica

#ars {
   color: $black; 

   iframe {
      margin-top: $sm-pad;
   }

   .intro {
      padding: 0;
      margin-bottom: $unit;

      h3 {
         background-color: $black;
         color: $white;
         text-align: center;
         margin-bottom: $half-unit;
      }

      p {
         padding: $half-unit $unit 0 $unit;
      }
   }

   section {
      padding: $sm-pad $unit;
   }

   .day:nth-child(odd) {
      background-color: $black;
      color: $white;
   }

   .day .video {
      margin-bottom: $unit;
   }

   .day-intro {
      padding-top: $unit;
      padding-bottom: $unit;
   }

   .description {
      padding: 0;

      p {
         margin: $half-unit $unit $unit $unit;
      }
      .ars-photos {
         background-color: $black;

         .flickity-button {
            color: $white !important;
         }

         .left {
            align-self: flex-start;
         }
      
         .right {
            align-self: flex-end;
         }
         
         // display: flex;
         // flex-direction: row;
         // flex-wrap: wrap;
         // justify-content: space-between;
         // align-items: center;

         .image-container {
            // width: 45%;
            // padding-bottom: $half-unit;

            img {
               display: block;
               max-height: 100vh;
            }
         }
      }
   }
}


/////
/////
// THE OTHER

#the-other-page {
   color: $txt-orange;

   .intro {
      padding: 0;

      h3 {
         background-color: $bg-orange;
         color: $white;
         text-align: center;
         padding: $sm-pad $unit;
      }
   }

   .intro-top {
      padding: 0 $unit;
      font-size: $md-text;

      p {
         padding-top: $half-unit;
      }
   }

   .intro-bottom {
      padding: 0 $unit;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: $half-unit;

      :first-child {
         width: 100%;
         padding-top: $half-unit;
      }

      :not(:first-child) {
         width: 45%;
         padding: 10px 0;
      }
   }

   section {
      padding: $sm-pad $unit;
   }

   .description p {
      padding-top: $half-unit;
   }

   .day:nth-child(even) {
      background-color: $bg-orange;
      color: $white;
   }

   .the-other-team {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div {
         width: 45%;
      }
   }
}

@media (max-width: 800px) {

   nav.concept-desktop {
      display: none;
   }

   nav.concept-mobile {
      display: flex;
   }

}

@media (max-width: 700px) {

   body {
      font-size: $mobile-sm-text;
   }

   .logos {
      padding: 0 $half-unit;
   }

   h3,
   .introduction,
   .text-carousel .carousel-cell h4,
   #the-other-page .intro-top {
      font-size: $mobile-md-text;
   }

   .quotes-carousel .quo-source {
      font-size: $mobile-md-text;
   }

   .introduction .small-text {
      font-size: $sm-text;
   }

}

@media (max-width: 500px) {

   .text-carousel .carousel-cell .mirror {
      display: none;
   }

   .introduction {
      padding: 0 $half-unit $half-unit $half-unit;
   }

   .the-other p,
   nav.concept,
   .ars-electronica p {
      padding: $sm-pad $half-unit;
   }

   .text-carousel .carousel-cell .not-mirror,
   .team-container {
      padding: $half-unit;
   }

   .talks {
      padding-bottom: $half-unit;
   }

   .talks .videos-container {
      flex-direction: column;

      .video-container {
         width: 100%;

         &.right,
         &.left {
            padding: 0;
         }
      }

      p {
         padding: $sm-pad $half-unit 0 $half-unit;
      }
   }

   .team-container {
      flex-direction: column;

      div {
         width: 100%;
      }
   }

   .logos {
      .logo-container {
         max-width: 80px;
      }
   
      .logo-container.logo-small {
         max-width: 55px;
      }
   
      .logo-container.logo-big {
         max-width: 100px;
      }
   }

   #the-other-cta {
      display: none;
   }

   #the-other-page {
      .intro-top {
         padding: 0 $half-unit;
      }
   
      .intro-bottom {
         padding: 0 $half-unit;
   
         :not(:first-child) {
            width: 100%;
         }
      }
   
      section {
         padding: $sm-pad $half-unit;
      }
   
      .the-other-team {
         flex-direction: column;
   
         div {
            width: 100%;
         }

         div:first-child {
            padding-bottom: $sm-pad;
         }
      }
   }

   #ars {
      .intro {     
         p {
            padding: $sm-pad $half-unit;
         }
      }
   
      section {
         padding: $sm-pad $half-unit;
      }
   
   }

   footer {
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: 10px;
   
      > * {
         padding: 10px $sm-pad 0 0;
      }
   
      form {
         #mc_embed_signup_scroll {
            display: flex;
            flex-direction: row;
            align-items: center;
         }
   
         #mce-EMAIL {
            max-width: 180px;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid $blue;
            color: $blue;
         }
   
         input.button {
            padding: 3px;
            margin-left: 7px;
            background-color: $blue;
            border: none;
         }
      }
   }

}

@media (max-width: 400px) {
   .logos {
      .logo-container {
         max-width: 70px;
      }
   
      .logo-container.logo-small {
         max-width: 50px;
      }
   
      .logo-container.logo-big {
         max-width: 80px;
      }
   }
}